<!DOCTYPE html>
<html>
  <head>
    <title>ChattyChat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <nav>
    </nav>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="pull-left">
            <%= image_tag("logo.svg", alt: "Chatty") %>
          </div>
          <%= link_to "ChattyChat", root_url, class: "navbar-brand" %>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
